<p id="notice"><%= notice %></p>
<div class="design_list">
<h1>Listing Designs</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Product Name</th>
      <th>Description</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @designs.each do |design| %>
      <tr>
        <td><%= image_tag design.image.url(:thumb) %></td>
        <td><%= design.product_name %></td>
        <td><%= design.description %></td>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Show/Review', design %></button></td>
        <!-- for companies eyes only -->
        <%if current_user.company%>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_design_path(design) %></button></td>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Destroy', design, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <!-- ending companies eyes only   -->
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.company %>
<%= link_to 'New Design', new_design_path %>
<% end %>
</div>
