<p id="notice"><%= notice %></p>
<div class="design_show">
<p><%= image_tag @design.image.url(:large) %></p>

<p>
  <strong>Product name:</strong>
  <%= @design.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @design.description %>
</p>

<p><%= link_to 'Edit', edit_design_path(@design) %></p>
<p><%= link_to 'Back', designs_path %></p>
</div>
