<p id="notice"><%= notice %></p>
<%= image_tag @design.image.url(:large) %>

<p>
  <strong>Product name:</strong>
  <%= @design.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @design.description %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
