<p id="notice"><%= notice %></p>
<div class="company_show">
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @company.category %>
</p>

<p id="link"><%= link_to 'New Design', new_design_path %></p>
<p id="link"><%= link_to 'Edit', edit_company_path(@company) %></p>
<p id="link"><%= link_to 'Back', companies_path %></p>
</div>
