<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
     <%= f.label :rating %><br>
     <%= f.radio_button(:rating, "Like") %>
     <%= label_tag(:rating, "Like") %>
     <%= f.radio_button(:rating, "Indifferent") %>
     <%= label_tag(:rating, "Indifferent") %>
     <%= f.radio_button(:rating, "Dislike") %>
     <%= label_tag(:rating, "Dislike") %>
   </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
