<p id="notice"><%= notice %></p>
<div class="review_show">
<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p><%= link_to 'Edit', edit_review_path(@review) %></p>
<p><%= link_to 'Back', reviews_path %></p>
</div>
